  <form>
    <div class="form-group">
      <label>Startpunkt</label>
      <select class="form-control" ng-model="start" ng-options="s.id as s.name for s in stations" ng-change="changeTrip()">
        <option>{{ station.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Destination</label>
      <select class="form-control" ng-model="destination" ng-options="s.id as s.name for s in stations" ng-change="changeTrip()">
        <option>{{ station.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Bilkostnad per mil:</label>
      <input type="text" class="form-control" id="inputAmount" name="inputAmount" placeholder="Bilkostnad per mil" ng-model="carCostPerMil" ng-change="updateCalculations()" smart-float />
      </input>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
    <th>Avstånd</th>
    <th>Pris</th>
    <th></th>
    </thead>
    <tbody>
    <tr>
      <td>{{ carDistance.text }}</td>
      <td>{{ carPrice.toFixed(0) }} kr</td>
      <th>Bil</th>
    </tr>
    <tr>
      <td>{{ trainDistance.text }}</td>
      <td>{{ trainPrice }} kr</td>
      <th>Tåg</th>
    </tr>
    </tbody>
  </table>

  <div align="center">
    <p>*Priserna beräknade på 40 resor per månad.</p>
    <canvas id="chart"></canvas>
  </div>

  <ul>
    <li><span class="train-legend"></span> Tåg</li>
    <li><span class="car-legend"></span> Bil</li>
  </ul>

  <div id="map"></div>

