<div class="settings col-sm-4">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Startpunkt</label>
        <select class="form-control" ng-model="start" ng-options="s.id as s.name for s in stations" ng-change="changeTrip()">
          <option>{{ station.name }}</option>
        </select>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Destination</label>
        <select class="form-control" ng-model="destination" ng-options="s.id as s.name for s in stations" ng-change="changeTrip()">
            <option>{{ station.name }}</option>
        </select>
    </div>

    <div class="form-group">
      <label>Bensinpris(kr / L):</label>
      <input class="form-control" ng-model="gasPrice" ng-change="changeTrip()">
      </input>
    </div>
    <div class="form-group">
      <label>Bensinförbrukning (L / mil):</label>
      <input class="form-control" ng-model="gasConsumption" ng-change="changeTrip()">
      </input>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <th>Tåg</th>
      <th>Bil</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>{{ trainDistance.text }}</td>
        <td>{{ carDistance.text }}</td>
        <th>Avstånd</th>
      </tr>
      <tr>
        <td>{{ trainPrice }} kr</td>
        <td>{{ carPrice.toFixed(2) }} kr</td>
        <th>Pris</th>
      </tr>
    </tbody>
  </table>

  <p>*Priserna beräknade på 40 resor per månad.</p>

  <ul>
    <li><span class="train-legend"></span> Tåg</li>
    <li><span class="car-legend"></span> Bil</li>
  </ul>

    <p class="creators">Sidan skapad av <a href="https://github.com/jherrlin">John Herrlin</a> &amp; <a href="https://github.com/rk222ev">Robin Karlsson</a>.</p>
</div>


<div id="map" class="col-sm-8"> </div>


