<div class="settings col-sm-4">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Startpunkt</label>
        <select class="form-control" ng-model="start" ng-options="s.id as s.name for s in stations" ng-change="changeTrip()">
          <option>{{ station.name }}</option>
        </select>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Destination</label>
        <select class="form-control" ng-model="destination" ng-options="s.id as s.name for s in stations" ng-change="changeTrip()">
            <option>{{ station.name }}</option>
        </select>
    </div>

    <div class="form-group">
      <label>Bensinpris(kr / L):</label>
      <input class="form-control" ng-model="gasprice" ng-change="changeTrip()">
      </input>
    </div>
    <div class="form-group">
      <label>Bensinförbrukning (L / mil):</label>
      <input class="form-control" ng-model="gasconsuming" ng-change="changeTrip()">
      </input>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <th>Tåg</th>
      <th>Bil</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>{{ traindistance.text }}</td>
        <td>{{ cardistance.text }}</td>
        <th>Avstånd</th>
      </tr>
      <tr>
        <td>{{ trainprice }}</td>
        <td>{{ carprice.toLocaleString(["sv"]) }} kr</td>
        <th>Pris</th>
      </tr>
    </tbody>
  </table>

  <ul>
    <li>Blå sträckaRöd sträcka  Tåg</li>
    <li>Röd sträcka Bil</li>
  </ul>
</div>


<div id="map" class="col-sm-8"> </div>


